#some stuff
.idea/

#virtual env
venv/

#database
db.sqlite3

#static file
files/

#some log
.log/

*.bak
*.bak.*
*.ckpt
*.old
*.pyc
.DS_Store
.ipynb_checkpoints
.vscode/
checkpoint
logs/*
tf_logs/*
images/**/*.png
images/**/*.dot
my_*



